.QTabBar:close-button 
{ 
    image: url(:/img/close.png); 
}

.QTabBar:close-button:hover
{
    image: url(:/img/close-hover.png); 
}

// no frame around status bar widgets
QStatusBar::item 
{ 
    border: 0px solid black 
};